.work-items-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: auto;
    color: #022552;
}

.component-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-family: 'Switzer Bold', 'sans-serif'
}

.work-desc {
    width: 90%;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
}

.category-buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.category-buttons button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #E8EDF0;
    cursor: pointer;
    font-size: 1rem;
    color: #022552;
    border-radius: 5px;
}

.category-buttons .active {
    background-color: #001255;
    color: #fff;
}

.clips, .hidraulics, .cng-components {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 2rem;
    justify-content: center;
    width: 90%;
    padding: 1rem;
    overflow: hidden;
}

.work-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 2px -2px 15px rgba(0, 0, 0, 0.1);
}

.work-item-container img {
    max-width: 250px;
    height: 250px;
}

.work-item h3 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.work-items-footer {
    margin-bottom: 1.5rem;
}

.work-items-footer a{
    margin-left: 0.5rem;
    text-decoration-line: none;
}

.work-items-footer a:visited{
    color: inherit;
}

.pdf-icon {
    color: darkred;
}

@media (max-width: 600px) {
    .work-items-footer {
        text-align: center;
    }

    .pdf-icon {
        margin-left: 2rem;
    }
}

@media (max-width: 400px) {
    .work-items-footer {
        text-align: center;
        font-size: 0.9rem;
    }

    .pdf-icon {
        margin-left: 2rem;
    }

    .category-buttons button {
        font-size: 0.8rem;
    }
    
}
