.contact-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 88vh;
    color: #022552;
    padding: 2rem;
    background-image: url("/images/backgrounds/Graficki elementi-07.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-info {
    width: 40vw;
    align-self: flex-start;
    margin-top: 6.5rem;
}

.contact-info h3 {
    font-size: 3rem;
}

.contact-info p {
    font-size: 1.5rem;
}

.contact-info a {
    font-size: 1.5rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 40vw;
}

.contact-form button {
    font-size: 1.5rem;
    border: none;
    background-color: #001255;
    color: white;
    width: 6rem;
    height: 2.2rem;
    border-radius: 5px;
    margin-top: 0.5rem;
    align-self: flex-end;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

textarea{
    font-size: 1.2rem;
    color: #001255;
    font-family: inherit;
    outline: none;
    transition: all 0.3s ease;
    resize: vertical;
    border: none;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 0.6rem 0.5rem 0.5rem 0.5rem;
}

textarea:focus {
    border: 1px solid #B2C3CD;
}

.name-area {
    height: 2.8rem;
}

.mail-area {
    height: 2.9rem;
}

.text-area {
    height: 10rem;
}

@media (min-width: 1500px) {

    .contact-info {
        margin-top: 11rem;
        margin-left: 5rem;
    }

    .contact-component {
        height: 91vh;
 
    }
}

@media (max-width: 600px) {
    .contact-component {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 4rem;
        height: 88vh;
        padding: 1rem;
    }

    .contact-info {
        align-self: inherit;
        text-align: center;
        width: 90vw;
        margin-top: 1.5rem;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 90vw;
    }

    .contact-form h1 {
        text-align: center;
    }

    .contact-form button {
        font-size: 1.5rem;
        width: 8rem;
        height: 2.5rem;
        margin-top: 0.5rem;
        align-self: center;
    }

    textarea:focus {
        border: none;
    }
}

@media (max-width: 420px) {
    .contact-component {
        height: 93vh;
    }

    .contact-info h3 {
        font-size: 2.6rem;
    }    
}

@media (max-width: 390px) {
    .contact-component {
        height: 115vh;
 
    }

    .contact-info h3 {
        font-size: 2.4rem;
    }    
}

@media (max-width: 380px) {
    .contact-component {
        height: 115vh;
 
    }

    .contact-info h3 {
        font-size: 2.4rem;
    }    
}


@media (max-width: 375px) {
    .contact-component {
        height: 120vh;
    }

    .contact-info h3 {
        font-size: 2.4rem;
    }    
}

@media (max-width: 330px) {
    .contact-component {
        height: 133vh;
    }

    .contact-info h3 {
        font-size: 2.4rem;
    }    
}