.footer-trademark {
    text-align: center;
    padding: 0.3rem;
    background-color: #022552;
    color: #fff;
    font-size: 0.8rem;
}

@media (max-width: 600px) {
    .footer-trademark {
        font-size: 0.8rem;
    }
}