* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Switzer Regular', 'sans-serif';
}

@font-face {
    font-family: 'Switzer Regular';
    src: url('/fonts/Switzer-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
    
  @font-face {
    font-family: 'Switzer Bold';
    src: url('/fonts/Switzer-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Switzer Light';
    src: url('/fonts/Switzer-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
