.work-component {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-image: url("/images/backgrounds/Graficki elementi-03.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;        
    background-color: rgba(255,255,255,0.95);
    background-blend-mode: lighten;
}

